body {
    background-color: #961B1E;
    padding-bottom: 200px;
}

@font-face {
    font-family: 'OstrichInline';
    src: url('/Users/Lauren/Desktop/id1/id1/project3/fonts/ostrich-sans-inline-regular.eot');
    src: url('/Users/Lauren/Desktop/id1/id1/project3/fonts/ostrich-sans-inline-regular.svg#OstrichInline') format('svg');
    src: url('/Users/Lauren/Desktop/id1/id1/project3/fonts/ostrich-sans-inline-regular.eot?#iefix') format('embedded-opentype');
    src: url('/Users/Lauren/Desktop/id1/id1/project3/fonts/ostrich-sans-inline-regular.woff') format('woff');
    src: url('/Users/Lauren/Desktop/id1/id1/project3/fonts/ostrich-sans-inline-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    line-height: 225%;
    font-family: 'OstrichInline';
    font-size: 125px;
    text-align: center;
    color: #FFFFFB;
}

header#effects {
    margin-top: 150px;
    margin-bottom: 150px;
}

header#whatcanido {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    line-height: 100%;
    font-family: 'OstrichInline';
    font-size: 125px;
    text-align: center;
    color: #FFFFFB;
}

p {
    margin: 25px 150px;
    padding: 15px;
    line-height: 175%;
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    text-align-last: left;
    color: #FFFFFB;
}

p#intro{
    font-size: 33px;
    margin-bottom: 100px;
    padding: 100px;
    background-color: #AEA8A3;
    color: #FEF1E7;
}

 a:hover img {
    background-color: #AEA8A3;
 }
/* images */

img {
    width: 20%;
    padding: inherit;
    padding: 25px 85px 25px;
}

img#animals {
    float: left;
}

img#earth {
    display: inline;
}

img#humans {
    float: right;
}

img#animals, #earth, #humans {
    margin-top: -90px;
}

img#whatcanido {
    width: 35%;
    display: inline;
    margin: 0px 100px 150px;
    padding: 50px 50px;
    float: right;
}

/* navigation */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AEA8A3;
}

.navigation li {
    display: inline;
    padding: 10px;
    color: #FFFFFB;
    border-right: 1px solid #FFFFFB;
}

.navigation li:last-child {
    border-right: none;
}

.navigation li a {
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #FEF1E7;
}

.navigation li a:hover {
    background-color: #961B1E;
}

.navigation li a:visited {
    color: #FFFFFB;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #961B1E;
    font-size: 65px;
    font-family: 'OstrichInline';
    color: #FFFFFB;
}

/* #961B1E - Blood red
   #AEA8A3 - Warm Steel
   #FEF1E7 - Flesh
   #FFFFFB - Egg White */ 